
<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot
  name="Birobot">
  <mujoco>
      <compiler 
      meshdir="../meshes/" 
      balanceinertia="true" 
      discardvisual="false" />
</mujoco>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.9939E-06 1.3757E-06 0.013421"
        rpy="0 0 0" />
      <mass
        value="0.25833" />
      <inertia
        ixx="0.00020539"
        ixy="5.7279E-09"
        ixz="-8.1347E-08"
        iyy="0.00012438"
        iyz="4.7175E-10"
        izz="0.0003054" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Lhipyaw_Link">
    <inertial>
      <origin
        xyz="0.04428 0.020247 -0.054611"
        rpy="0 0 0" />
      <mass
        value="0.44004" />
      <inertia
        ixx="0.00069189"
        ixy="-3.1893E-05"
        ixz="7.9122E-05"
        iyy="0.00048982"
        iyz="8.5172E-05"
        izz="0.00036575" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lhipyaw_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lhipyaw_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lhipyaw_Joint"
    type="revolute">
    <origin
      xyz="0 0.037 -0.001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Lhipyaw_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lhiproll_Link">
    <inertial>
      <origin
        xyz="-7.9446E-05 0.010187 -0.064399"
        rpy="0 0 0" />
      <mass
        value="0.35154" />
      <inertia
        ixx="0.0003301"
        ixy="-2.6902E-10"
        ixz="2.3445E-07"
        iyy="0.00050002"
        iyz="3.365E-07"
        izz="0.00020527" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lhiproll_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lhiproll_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lhiproll_Joint"
    type="revolute">
    <origin
      xyz="0.0425 0.027 -0.068"
      rpy="0 -1.5708 0" />
    <parent
      link="Lhipyaw_Link" />
    <child
      link="Lhiproll_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lthigh_Link">
    <inertial>
      <origin
        xyz="-0.031371 -0.039893 -0.041867"
        rpy="0 0 0" />
      <mass
        value="0.88123" />
      <inertia
        ixx="0.0018457"
        ixy="-0.0011024"
        ixz="8.8513E-07"
        iyy="0.0013492"
        iyz="1.0947E-06"
        izz="0.0031339" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lthigh_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lthigh_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lthigh_Joint"
    type="revolute">
    <origin
      xyz="0 -0.00016695 -0.07722"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Lhiproll_Link" />
    <child
      link="Lthigh_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lknee_Link0">
    <inertial>
      <origin
        xyz="5.5511E-17 0.091361 -0.020001"
        rpy="0 0 0" />
      <mass
        value="0.2238" />
      <inertia
        ixx="0.00063293"
        ixy="1.5683E-07"
        ixz="2.9219E-21"
        iyy="1.6155E-05"
        iyz="-1.5988E-19"
        izz="0.00064549" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lknee_Link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lknee_Link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lknee_Joint0"
    type="revolute">
    <origin
      xyz="-0.1356 -0.1707 -0.053166"
      rpy="3.1416 0 0.80367" />
    <parent
      link="Lthigh_Link" />
    <child
      link="Lknee_Link0" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lankle_Link0">
    <inertial>
      <origin
        xyz="-0.02316 0.021254 -0.020033"
        rpy="0 0 0" />
      <mass
        value="0.18428" />
      <inertia
        ixx="0.00011788"
        ixy="-6.7978E-05"
        ixz="4.6496E-20"
        iyy="9.8345E-05"
        iyz="2.5317E-20"
        izz="0.00020063" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lankle_Joint0"
    type="revolute">
    <origin
      xyz="0 0.18 0"
      rpy="0 0 0" />
    <parent
      link="Lknee_Link0" />
    <child
      link="Lankle_Link0" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lknee_Link1">
    <inertial>
      <origin
        xyz="-0.0043933 -0.0012539 -0.01135"
        rpy="0 0 0" />
      <mass
        value="0.063612" />
      <inertia
        ixx="1.0928E-05"
        ixy="-1.8185E-06"
        ixz="-1.7084E-06"
        iyy="1.678E-05"
        iyz="-4.876E-07"
        izz="2.294E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lknee_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lknee_Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lknee_Joint1"
    type="revolute">
    <origin
      xyz="0 0 -0.058666"
      rpy="-3.1416 0 2.6525" />
    <parent
      link="Lthigh_Link" />
    <child
      link="Lknee_Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lknee_Link2">
    <inertial>
      <origin
        xyz="0.10163 -0.022939 0.001"
        rpy="0 0 0" />
      <mass
        value="0.060722" />
      <inertia
        ixx="1.3034E-05"
        ixy="5.3364E-05"
        ixz="5.0445E-20"
        iyy="0.00023741"
        iyz="-1.1883E-20"
        izz="0.00024984" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lknee_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lknee_Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lknee_Joint2"
    type="revolute">
    <origin
      xyz="-0.038464 -0.010978 -0.0245"
      rpy="-3.1416 0 -1.6106" />
    <parent
      link="Lknee_Link1" />
    <child
      link="Lknee_Link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lknee_Link00">
    <inertial>
      <origin
        xyz="-2.7756E-16 0.055757 -0.0040013"
        rpy="0 0 0" />
      <mass
        value="0.21352" />
      <inertia
        ixx="0.00063281"
        ixy="1.5683E-07"
        ixz="2.9136E-21"
        iyy="1.604E-05"
        iyz="-7.8528E-22"
        izz="0.00064528" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lknee_Link00.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lknee_Link00.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lknee_Joint00"
    type="revolute">
    <origin
      xyz="0.21265 -0.047998 -0.003"
      rpy="-3.1416 0 2.8238" />
    <parent
      link="Lknee_Link2" />
    <child
      link="Lknee_Link00" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lankle_Link34">
    <inertial>
      <origin
        xyz="-0.020409 -0.011256 -0.020082"
        rpy="0 0 0" />
      <mass
        value="0.026431" />
      <inertia
        ixx="3.971E-06"
        ixy="1.1011E-20"
        ixz="-1.4757E-21"
        iyy="3.971E-06"
        iyz="-9.6414E-24"
        izz="7.5989E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link34.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link34.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lankle_Joint34"
    type="revolute">
    <origin
      xyz="-0.1356 -0.1707 -0.053166"
      rpy="3.1416 0 0.80367" />
    <parent
      link="Lthigh_Link" />
    <child
      link="Lankle_Link34" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lankle_Link1">
    <inertial>
      <origin
        xyz="0.0049753 0.0013511 -0.01237"
        rpy="0 0 0" />
      <mass
        value="0.056795" />
      <inertia
        ixx="8.3546E-06"
        ixy="-1.6903E-06"
        ixz="1.8487E-06"
        iyy="1.412E-05"
        iyz="5.0202E-07"
        izz="1.7523E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lankle_Joint1"
    type="revolute">
    <origin
      xyz="-0.0622 -0.078301 -0.0061661"
      rpy="0 0 2.6525" />
    <parent
      link="Lthigh_Link" />
    <child
      link="Lankle_Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lankle_Link2">
    <inertial>
      <origin
        xyz="-0.045124 -0.038011 0.001"
        rpy="0 0 0" />
      <mass
        value="0.040005" />
      <inertia
        ixx="1.757E-05"
        ixy="-2.0075E-05"
        ixz="-1.363E-20"
        iyy="2.4491E-05"
        iyz="-1.1453E-20"
        izz="4.1715E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lankle_Joint2"
    type="revolute">
    <origin
      xyz="0.038602 0.010483 -0.026"
      rpy="3.1416 0 -1.053" />
    <parent
      link="Lankle_Link1" />
    <child
      link="Lankle_Link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lankle_Link3">
    <inertial>
      <origin
        xyz="-0.011654 0.019815 0.00091832"
        rpy="0 0 0" />
      <mass
        value="0.026431" />
      <inertia
        ixx="3.971E-06"
        ixy="6.141E-21"
        ixz="1.8418E-21"
        iyy="3.971E-06"
        iyz="-6.6243E-22"
        izz="7.5989E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lankle_Joint3"
    type="revolute">
    <origin
      xyz="-0.090248 -0.076022 0"
      rpy="0 0 0.25268" />
    <parent
      link="Lankle_Link2" />
    <child
      link="Lankle_Link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lankle_Link4">
    <inertial>
      <origin
        xyz="-0.040424 -0.073296 0.001"
        rpy="0 0 0" />
      <mass
        value="0.050145" />
      <inertia
        ixx="0.0001106"
        ixy="-6.055E-05"
        ixz="1.392E-20"
        iyy="3.4209E-05"
        iyz="2.4678E-20"
        izz="0.00014432" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lankle_Joint4"
    type="revolute">
    <origin
      xyz="-0.034641 0.02 0"
      rpy="0 0 -2.0944" />
    <parent
      link="Lankle_Link3" />
    <child
      link="Lankle_Link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lankle_Link00">
    <inertial>
      <origin
        xyz="0.016833 0.02047 0.0039674"
        rpy="0 0 0" />
      <mass
        value="0.18428" />
      <inertia
        ixx="0.00011788"
        ixy="-6.7978E-05"
        ixz="7.2734E-20"
        iyy="9.8345E-05"
        iyz="6.461E-20"
        izz="0.00020063" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link00.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Lankle_Link00.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lankle_Joint00"
    type="revolute">
    <origin
      xyz="-0.086929 -0.15762 -0.003"
      rpy="0 0 2.6376" />
    <parent
      link="Lankle_Link4" />
    <child
      link="Lankle_Link00" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rhipyaw_Link">
    <inertial>
      <origin
        xyz="0.04428 -0.020256 -0.054605"
        rpy="0 0 0" />
      <mass
        value="0.44004" />
      <inertia
        ixx="0.00069189"
        ixy="3.1966E-05"
        ixz="7.908E-05"
        iyy="0.00048977"
        iyz="-8.5199E-05"
        izz="0.0003658" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rhipyaw_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rhipyaw_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rhipyaw_Joint"
    type="revolute">
    <origin
      xyz="0 -0.037 -0.001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Rhipyaw_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rhiproll_Link">
    <inertial>
      <origin
        xyz="-7.1149E-05 -0.010187 -0.064408"
        rpy="0 0 0" />
      <mass
        value="0.35154" />
      <inertia
        ixx="0.00033004"
        ixy="5.4904E-08"
        ixz="2.4315E-07"
        iyy="0.00050002"
        iyz="-4.0087E-07"
        izz="0.00020532" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rhiproll_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rhiproll_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rhiproll_Joint"
    type="revolute">
    <origin
      xyz="0.0425 -0.027 -0.068"
      rpy="0 -1.5708 0" />
    <parent
      link="Rhipyaw_Link" />
    <child
      link="Rhiproll_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rthigh_Link">
    <inertial>
      <origin
        xyz="-0.031458 0.039884 -0.041869"
        rpy="0 0 0" />
      <mass
        value="0.88123" />
      <inertia
        ixx="0.0018455"
        ixy="0.0011034"
        ixz="1.3021E-06"
        iyy="0.0013494"
        iyz="-1.1408E-06"
        izz="0.0031339" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rthigh_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rthigh_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rthigh_Joint"
    type="revolute">
    <origin
      xyz="0 0.00016695 -0.07722"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Rhiproll_Link" />
    <child
      link="Rthigh_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rknee_Link0">
    <inertial>
      <origin
        xyz="0 -0.091361 -0.020001"
        rpy="0 0 0" />
      <mass
        value="0.2238" />
      <inertia
        ixx="0.00063293"
        ixy="1.5683E-07"
        ixz="1.7158E-21"
        iyy="1.6155E-05"
        iyz="1.595E-19"
        izz="0.00064549" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rknee_Link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rknee_Link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rknee_Joint0"
    type="revolute">
    <origin
      xyz="-0.1356 0.1707 -0.053166"
      rpy="-3.1416 0 -0.80367" />
    <parent
      link="Rthigh_Link" />
    <child
      link="Rknee_Link0" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rankle_Link0">
    <inertial>
      <origin
        xyz="-0.02316 -0.021254 -0.020033"
        rpy="0 0 0" />
      <mass
        value="0.18428" />
      <inertia
        ixx="0.00011788"
        ixy="6.7978E-05"
        ixz="-3.8512E-20"
        iyy="9.8345E-05"
        iyz="-7.3385E-20"
        izz="0.00020063" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rankle_Joint0"
    type="revolute">
    <origin
      xyz="0 -0.18 0"
      rpy="0 0 0" />
    <parent
      link="Rknee_Link0" />
    <child
      link="Rankle_Link0" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rknee_Link1">
    <inertial>
      <origin
        xyz="-0.0043933 0.0012539 -0.01135"
        rpy="0 0 0" />
      <mass
        value="0.063612" />
      <inertia
        ixx="1.0928E-05"
        ixy="1.8185E-06"
        ixz="-1.7084E-06"
        iyy="1.678E-05"
        iyz="4.876E-07"
        izz="2.294E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rknee_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rknee_Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rknee_Joint1"
    type="revolute">
    <origin
      xyz="0 0 -0.058666"
      rpy="3.1416 0 -2.6525" />
    <parent
      link="Rthigh_Link" />
    <child
      link="Rknee_Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rknee_Link2">
    <inertial>
      <origin
        xyz="0.095923 0.021651 0.001"
        rpy="0 0 0" />
      <mass
        value="0.060722" />
      <inertia
        ixx="1.3034E-05"
        ixy="-5.3364E-05"
        ixz="5.3985E-20"
        iyy="0.00023741"
        iyz="1.3208E-20"
        izz="0.00024984" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rknee_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rknee_Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rknee_Joint2"
    type="revolute">
    <origin
      xyz="-0.038464 0.010978 -0.0245"
      rpy="3.1416 0 1.6106" />
    <parent
      link="Rknee_Link1" />
    <child
      link="Rknee_Link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rknee_Link00">
    <inertial>
      <origin
        xyz="-2.2204E-16 0.051361 -0.19866"
        rpy="0 0 0" />
      <mass
        value="0.2238" />
      <inertia
        ixx="0.00063293"
        ixy="-1.5683E-07"
        ixz="-1.8267E-21"
        iyy="1.6155E-05"
        iyz="3.7128E-22"
        izz="0.00064549" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rknee_Link00.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rknee_Link00.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rknee_Joint00"
    type="revolute">
    <origin
      xyz="0.21265 0.047998 0.19967"
      rpy="0 0 -2.8238" />
    <parent
      link="Rknee_Link2" />
    <child
      link="Rknee_Link00" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rankle_Link34">
    <inertial>
      <origin
        xyz="-0.020409 0.011256 -0.020082"
        rpy="0 0 0" />
      <mass
        value="0.026431" />
      <inertia
        ixx="3.971E-06"
        ixy="-5.9292E-21"
        ixz="-9.1808E-22"
        iyy="3.971E-06"
        iyz="2.1498E-22"
        izz="7.5989E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link34.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link34.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rankle_Joint34"
    type="revolute">
    <origin
      xyz="-0.1356 0.1707 -0.053166"
      rpy="-3.1416 0 -0.80367" />
    <parent
      link="Rthigh_Link" />
    <child
      link="Rankle_Link34" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rankle_Link1">
    <inertial>
      <origin
        xyz="0.0049753 -0.0013511 -0.01237"
        rpy="0 0 0" />
      <mass
        value="0.056795" />
      <inertia
        ixx="8.3546E-06"
        ixy="1.6903E-06"
        ixz="1.8487E-06"
        iyy="1.412E-05"
        iyz="-5.0202E-07"
        izz="1.7523E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rankle_Joint1"
    type="revolute">
    <origin
      xyz="-0.0622 0.078301 -0.0061661"
      rpy="0 0 -2.6525" />
    <parent
      link="Rthigh_Link" />
    <child
      link="Rankle_Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rankle_Link2">
    <inertial>
      <origin
        xyz="-0.042028 0.035403 0.00078553"
        rpy="0 0 0" />
      <mass
        value="0.037437" />
      <inertia
        ixx="1.7541E-05"
        ixy="2.0075E-05"
        ixz="-1.4464E-20"
        iyy="2.4462E-05"
        iyz="1.1859E-20"
        izz="4.1665E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rankle_Joint2"
    type="revolute">
    <origin
      xyz="0.038602 -0.010483 -0.026"
      rpy="-3.1416 0 1.053" />
    <parent
      link="Rankle_Link1" />
    <child
      link="Rankle_Link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rankle_Link3">
    <inertial>
      <origin
        xyz="-0.011654 -0.019815 0.00091832"
        rpy="0 0 0" />
      <mass
        value="0.026431" />
      <inertia
        ixx="3.971E-06"
        ixy="5.7175E-21"
        ixz="2.4253E-21"
        iyy="3.971E-06"
        iyz="5.4998E-22"
        izz="7.5989E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rankle_Joint3"
    type="revolute">
    <origin
      xyz="-0.090248 0.076022 0"
      rpy="0 0 -0.25268" />
    <parent
      link="Rankle_Link2" />
    <child
      link="Rankle_Link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rankle_Link4">
    <inertial>
      <origin
        xyz="-0.040424 0.073296 0.001"
        rpy="0 0 0" />
      <mass
        value="0.050145" />
      <inertia
        ixx="0.0001106"
        ixy="6.055E-05"
        ixz="1.3455E-20"
        iyy="3.4209E-05"
        iyz="-2.4653E-20"
        izz="0.00014432" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rankle_Joint4"
    type="revolute">
    <origin
      xyz="-0.034641 -0.02 0"
      rpy="0 0 2.0944" />
    <parent
      link="Rankle_Link3" />
    <child
      link="Rankle_Link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rankle_Link00">
    <inertial>
      <origin
        xyz="0.016833 -0.02047 0.0039674"
        rpy="0 0 0" />
      <mass
        value="0.18428" />
      <inertia
        ixx="0.00011788"
        ixy="6.7978E-05"
        ixz="-1.2341E-20"
        iyy="9.8345E-05"
        iyz="-1.1273E-19"
        izz="0.00020063" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link00.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Birobot/meshes/Rankle_Link00.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rankle_Joint00"
    type="revolute">
    <origin
      xyz="-0.086929 0.15762 -0.003"
      rpy="0 0 -2.6376" />
    <parent
      link="Rankle_Link4" />
    <child
      link="Rankle_Link00" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
